body{
	background: white;
	font-family: 'Open Sans', sans-serif;

}
header{
	background: white; 
	padding-top: 15px;
	padding-bottom: 10px;
	position: fixed;
	width: 99%;
    top: 0;
	
}
.logo_menu{
    padding: 15px;
    display: inline;
    float: left;
}
.tel_menu{

    display: inline;
    float: left;
    margin-left: 150px;
    padding-top: 15px;
    font-family: 'Open Sans', sans-serif;
    color:rgb(240, 140, 74) ;
}


.menu_items ul {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: 0px;
    display:inline-flex;
    float: right;
    padding-top: 40px;
    padding-left: 20px;
    font-weight: 700px;
  }
  .menu_items li a {
    color:rgb(240, 140, 74);
    
    text-decoration: none;
     
    padding: .5em 1em;
    
  }
  .menu_items li a:hover {
    
    color: rgb(240, 140, 74);
    text-decoration: underline;
  }
  .imagen{
      margin-top: 15px;
  }
#quienes {
    text-align: center;
    color:rgb(240, 140, 74) ;
}
#quienes p{
    color: black ;    
}
#nuestros {
  text-align: center;
  color:rgb(240, 140, 74) ;
}
#nuestros p{
  color: black ;    
}
/*cards */
.container__card{
  max-width: 100%;
  padding: 20px;
  padding-bottom: 40px;
  margin: auto;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center
}

.card{
  width: 300px;
  position: relative;
  margin: 40px;
  transition: all 300ms;
  border-radius: 20px;
}

.card:hover{
  box-shadow: 1px 1px 20px -10px #20202049;
}

.card:hover .info__description{
  margin-top: 0;
  border-radius: 0px 0px 20px 20px;

}

.card:hover .icon{
  margin-top: -110px;
  border-radius: 20px 20px 0px 0px;
}

.icon{
  width: 100%;
  height: 220px;
  background: #EFF3F5;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  transition: all 400ms cubic-bezier(0.5,0,0,1);
  border-radius: 20px;
}


.info__description{
  width: 100%;
  height: 220px;
  color: #474747;
  background: #EFF3F5;
  padding: 20px;
  margin-top: -220px;
  transition: all 400ms cubic-bezier(0.5,0,0,1);
  border-radius: 20px;
}

.info__description p{
  font-size: 14px;
  margin-top: 10px;

}

.info__description input{
  margin-top: 20px;
  padding: 10px 40px;
  background: #2196f3;
  color: white;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  box-shadow: 1px 1px 30px -5px #20202049;
  transition: box-shadow 300ms;
}

.info__description input:hover{
  box-shadow: 1px 1px 30px -5px #20202070;
}

.c1:hover .icon{
  background: #DD4B25;
}
.c2:hover .icon{
  background: #146EB0;
}

.c3:hover .icon{
  background: #E8B600;
}


#galeria {
  text-align: center;
  color:rgb(240, 140, 74) ;
}
#galeria p{
  color: black ;    
}
#ubicacion {
  text-align: center;
  color:rgb(240, 140, 74) ;
}
#ubicacion p{
  color: black ;    
}
footer{
    background-color: rgba(231, 225, 225, 0.856);
    
}
footer h2{
    text-align: center;
    color:rgb(240, 140, 74);
}


footer h3{
    
    padding-top: 25px;
    text-align: left;
    font-size: 20px;

}
footer ul li{
  list-style: none;
  padding: 0;
  margin: 0;
  
}

  
